<a href="https://colab.research.google.com/github/nimrco/Msc-Thesis/blob/master/level_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install scikit-posthocs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-posthocs
  Downloading scikit_posthocs-0.7.0-py3-none-any.whl (38 kB)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from scikit-posthocs) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from scikit-posthocs) (1.21.6)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from scikit-posthocs) (0.11.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from scikit-posthocs) (0.12.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from scikit-posthocs) (1.7.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from scikit-posthocs) (3.2.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->scikit-posthocs) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->scikit-posthocs) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.20.0->scikit-posthocs) (1.15.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->scikit-posthocs) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->scikit-posthocs) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->scikit-posthocs) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->scikit-posthocs) (4.1.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels->scikit-posthocs) (0.5.3)
Installing collected packages: scikit-posthocs
Successfully installed scikit-posthocs-0.7.0

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scikit_posthocs as sp
from scipy import stats
%matplotlib inline

In [ ]:
data = pd.read_csv("/content/combined_cv_9.csv")
data

            CV    category
0     0.477763      random
1     0.868534      random
2     0.580983      random
3     0.363247      random
4     0.528716      random
...        ...         ...
9578  0.810115  bioproject
9579  0.727408  bioproject
9580  0.622303  bioproject
9581  0.319564  bioproject
9582  0.156296  bioproject

[9583 rows x 2 columns]

In [ ]:
data.groupby('category')['CV'].count()

category
bioproject      70
mlst           133
random        4684
tree          4684
Name: CV, dtype: int64

In [ ]:
data = pd.read_csv("/content/supplementary_table.csv")
data

,Strain,BioProject,Level,Size(Mb),Scaffolds,# of genes,# of pseudogenes,ratio genes/pseudogenes,MLST,Clinical/Enviromental
0,PAO1,PRJNA331,Complete,6.26440,1.0,5572,0,0.000000,549.0,NaN
1,UCBPP-PA14,PRJNA386,Complete,6.53765,1.0,6021,77,78.194805,253.0,NaN
2,PA7,PRJNA16720,Complete,6.58834,1.0,6040,193,31.295337,1195.0,NaN
3,LESB58,PRJEA31101,Complete,6.60176,1.0,6135,79,77.658228,146.0,NaN
4,39016,PRJNA49667,Chromosome,6.86606,1.0,6248,329,18.990881,NaN,clinical
...,...,...,...,...,...,...,...,...,...,...
4694,NCTC13618,PRJEB6403,Complete,6.78859,1.0,6002,414,14.497585,NaN,NaN
4695,NCTC12934,PRJEB6403,Contig,5.95123,497.0,5503,545,10.097248,NaN,NaN
4696,NCTC10299,PRJEB6403,Contig,6.21070,98.0,5756,111,51.855856,NaN,clinical
4697,NCTC11839,PRJEB6403,Contig,6.87210,8.0,6318,155,40.761290,641.0,NaN
4698,isolate MGYG-HGUT-02463,PRJEB33885,Contig,6.75040,80.0,6311,142,44.443662,2343.0,clinical

In [ ]:
genes = data['# of genes'].to_list()
pseudogenes = data['# of pseudogenes'].to_list()

In [ ]:
statistic, p_value = stats.ks_2samp(genes, pseudogenes)
print("statistic: {s} , p-value: {p}".format(s=statistic, p=p_value))

statistic: 1.0 , p-value: 0.0

In [ ]:
data['Size(Mb)'].mean()

6.641346990208612

In [ ]:
stats.pearsonr(data['# of genes'], data['# of pseudogenes'])

(0.015066036243664614, 0.30181483919941066)

In [ ]:
data.dropna(subset=['Clinical/Enviromental'], inplace=True)
data

,Strain,BioProject,Level,Size(Mb),Scaffolds,# of genes,# of pseudogenes,ratio genes/pseudogenes,MLST,Clinical/Enviromental
4,39016,PRJNA49667,Chromosome,6.86606,1.0,6248,329,18.990881,NaN,clinical
8,PAb1,PRJNA28809,Contig,6.07860,658.0,5701,382,14.924084,560.0,clinical
10,HB15,PRJNA62725,Contig,6.63770,19.0,6145,104,59.086538,560.0,clinical
11,AES-1R,PRJNA64619,Contig,6.26762,1783.0,5780,1417,4.079040,NaN,clinical
16,GCF_000233495,PRJNA40037,Scaffold,6.44748,51.0,5739,437,13.132723,NaN,clinical
...,...,...,...,...,...,...,...,...,...,...
4690,isolate MAL,PRJEB32170,Contig,6.81344,169.0,6412,138,46.463768,235.0,clinical
4691,isolate KOT,PRJEB32170,Contig,6.93715,226.0,6505,173,37.601156,235.0,clinical
4692,isolate VEI,PRJEB32170,Contig,6.90989,156.0,6495,192,33.828125,235.0,clinical
4696,NCTC10299,PRJEB6403,Contig,6.21070,98.0,5756,111,51.855856,NaN,clinical
4698,isolate MGYG-HGUT-02463,PRJEB33885,Contig,6.75040,80.0,6311,142,44.443662,2343.0,clinical

In [ ]:
data.dropna(subset=['Level'], inplace=True)
data

,Strain,BioProject,Level,Size(Mb),Scaffolds,# of genes,# of pseudogenes,ratio genes/pseudogenes,MLST,Clinical/Enviromental
0,PAO1,PRJNA331,Complete,6.26440,1.0,5572,0,0.000000,549.0,NaN
1,UCBPP-PA14,PRJNA386,Complete,6.53765,1.0,6021,77,78.194805,253.0,NaN
2,PA7,PRJNA16720,Complete,6.58834,1.0,6040,193,31.295337,1195.0,NaN
3,LESB58,PRJEA31101,Complete,6.60176,1.0,6135,79,77.658228,146.0,NaN
4,39016,PRJNA49667,Chromosome,6.86606,1.0,6248,329,18.990881,NaN,clinical
...,...,...,...,...,...,...,...,...,...,...
4694,NCTC13618,PRJEB6403,Complete,6.78859,1.0,6002,414,14.497585,NaN,NaN
4695,NCTC12934,PRJEB6403,Contig,5.95123,497.0,5503,545,10.097248,NaN,NaN
4696,NCTC10299,PRJEB6403,Contig,6.21070,98.0,5756,111,51.855856,NaN,clinical
4697,NCTC11839,PRJEB6403,Contig,6.87210,8.0,6318,155,40.761290,641.0,NaN
4698,isolate MGYG-HGUT-02463,PRJEB33885,Contig,6.75040,80.0,6311,142,44.443662,2343.0,clinical

In [ ]:
4699 - 2709

1990

In [ ]:
data.groupby(['Clinical/Enviromental'])['# of pseudogenes'].count()

Clinical/Enviromental
clinical               2553
environmental/other     156
Name: # of pseudogenes, dtype: int64

In [ ]:
cat_groups = data.groupby('category')['CV'].apply(list).reset_index()
cat_groups

     category                                                 CV
0  bioproject  [0.4962341654840318, 0.043197748755374, 0.3579...
1        mlst  [1.0762486569852538, 0.7700194217274248, 1.144...
2      random  [0.7911193778700407, 0.4756709737847547, 0.319...
3        tree  [0.2457162839428311, 0.0779458083294463, 0.128...

In [ ]:
groups = data.groupby('category')
random = groups.get_group('random')['CV'].to_list()
tree = groups.get_group('tree')['CV'].to_list()
mlst = groups.get_group('mlst')['CV'].to_list()
bio = groups.get_group('bioproject')['CV'].to_list()

In [ ]:
mann_df = pd.DataFrame(columns=['Comparison', 'p value'])
mann_df

Empty DataFrame
Columns: [Comparison, p value]
Index: []

In [ ]:
statistic, p_value = stats.mannwhitneyu(x=random, y=tree, alternative='greater')
print("statistic: {s} , p-value: {p}".format(s=statistic, p=p_value))
mann_df.loc[len(mann_df)] = ['random - tree', "{:.2e}".format(p_value)]
mann_df

statistic: 14263798.0 , p-value: 3.3346977901119656e-137

      Comparison    p value
0  random - tree  3.33e-137

In [ ]:
statistic, p_value = stats.mannwhitneyu(x=random, y=mlst, alternative='greater')
print("statistic: {s} , p-value: {p}".format(s=statistic, p=p_value))
mann_df.loc[len(mann_df)] = ['random - mlst', "{:.2e}".format(p_value)]
mann_df

statistic: 425399.0 , p-value: 3.79395950159206e-13

      Comparison    p value
0  random - tree  3.33e-137
1  random - mlst   3.79e-13

In [ ]:
statistic, p_value = stats.mannwhitneyu(x=random, y=bio, alternative='greater')
print("statistic: {s} , p-value: {p}".format(s=statistic, p=p_value))
mann_df.loc[len(mann_df)] = ['random - bioproject', "{:.2e}".format(p_value)]
mann_df

statistic: 202475.0 , p-value: 0.00039252224000913493

            Comparison    p value
0        random - tree  3.33e-137
1        random - mlst   3.79e-13
2  random - bioproject   3.93e-04

In [ ]:
mann_df.to_csv("mann_grouping_9.csv", index=False)

In [ ]:
isolate_groups = data.groupby(['Clinical/Enviromental'])['# of pseudogenes'].apply(list).reset_index()
isolate_groups

  Clinical/Enviromental                                   # of pseudogenes
0              clinical  [329, 382, 104, 1417, 437, 322, 230, 527, 595,...
1   environmental/other  [97, 101, 132, 218, 358, 149, 267, 135, 110, 1...

In [ ]:
groups = data.groupby(['Clinical/Enviromental'])
clinical = groups.get_group('clinical')['# of pseudogenes'].to_list()
enviromental = groups.get_group('environmental/other')['# of pseudogenes'].to_list()
print(clinical)
print(enviromental)

[329, 382, 104, 1417, 437, 322, 230, 527, 595, 69, 208, 69, 151, 197, 204, 453, 97, 142, 77, 126, 140, 138, 109, 127, 91, 78, 115, 93, 74, 140, 140, 166, 125, 84, 123, 112, 112, 125, 74, 176, 129, 91, 78, 157, 90, 118, 69, 85, 97, 112, 61, 134, 70, 96, 135, 99, 78, 61, 89, 61, 122, 130, 91, 94, 108, 106, 90, 64, 140, 101, 89, 109, 122, 115, 120, 125, 98, 116, 81, 103, 176, 124, 55, 105, 100, 305, 464, 426, 91, 98, 109, 222, 105, 63, 99, 99, 107, 92, 155, 104, 107, 64, 142, 121, 184, 96, 639, 210, 362, 203, 111, 156, 141, 111, 128, 111, 104, 151, 145, 146, 167, 105, 147, 129, 143, 111, 63, 64, 146, 86, 84, 120, 128, 100, 192, 142, 101, 86, 92, 94, 470, 80, 174, 194, 230, 143, 381, 226, 215, 254, 682, 201, 110, 118, 134, 130, 117, 118, 116, 169, 130, 117, 131, 117, 117, 132, 113, 134, 120, 118, 116, 121, 118, 124, 125, 115, 116, 119, 118, 118, 133, 126, 135, 122, 130, 131, 120, 122, 116, 132, 134, 117, 118, 99, 107, 309, 158, 311, 182, 110, 94, 881, 141, 303, 694, 144, 186, 219, 757, 263, 159, 219, 577, 198, 299, 112, 177, 221, 146, 220, 200, 177, 169, 155, 214, 812, 227, 175, 141, 192, 149, 206, 222, 237, 166, 195, 235, 180, 195, 173, 142, 176, 161, 156, 238, 248, 207, 184, 255, 186, 139, 180, 249, 221, 162, 177, 304, 161, 184, 202, 186, 144, 174, 178, 263, 241, 189, 129, 176, 200, 174, 219, 173, 197, 199, 179, 196, 184, 198, 187, 226, 212, 201, 154, 173, 189, 289, 442, 228, 174, 204, 197, 159, 250, 138, 193, 208, 206, 468, 150, 401, 164, 296, 199, 236, 165, 148, 205, 197, 253, 377, 312, 178, 256, 284, 241, 166, 256, 175, 171, 172, 191, 158, 154, 144, 176, 238, 212, 175, 180, 164, 127, 289, 174, 205, 166, 180, 172, 152, 166, 191, 200, 147, 142, 183, 182, 205, 156, 155, 184, 160, 240, 130, 167, 1100, 784, 260, 427, 194, 192, 148, 236, 201, 268, 136, 167, 515, 179, 161, 164, 267, 125, 203, 163, 136, 187, 178, 242, 153, 179, 174, 187, 133, 220, 220, 183, 235, 231, 153, 176, 163, 184, 278, 159, 363, 306, 340, 638, 352, 335, 707, 376, 391, 323, 582, 541, 503, 610, 303, 213, 196, 200, 168, 446, 632, 223, 159, 177, 158, 78, 54, 327, 336, 838, 245, 204, 1032, 427, 324, 427, 171, 1715, 198, 149, 364, 1025, 1760, 439, 135, 236, 297, 208, 446, 1210, 356, 536, 606, 502, 529, 871, 400, 274, 357, 381, 867, 403, 397, 846, 296, 277, 461, 416, 260, 383, 333, 249, 398, 661, 68, 107, 132, 128, 101, 146, 309, 296, 1653, 187, 267, 79, 247, 123, 112, 121, 119, 118, 125, 221, 256, 379, 438, 242, 387, 356, 199, 249, 171, 143, 282, 224, 179, 185, 142, 140, 178, 153, 125, 155, 103, 97, 96, 93, 168, 59, 116, 137, 131, 144, 77, 67, 323, 291, 344, 315, 312, 302, 116, 68, 122, 239, 260, 231, 270, 297, 229, 290, 279, 245, 238, 277, 244, 212, 181, 276, 222, 221, 161, 131, 261, 265, 266, 270, 138, 124, 131, 191, 212, 208, 234, 250, 211, 255, 234, 254, 219, 227, 259, 212, 253, 225, 227, 203, 143, 248, 146, 283, 327, 220, 272, 227, 219, 199, 297, 345, 185, 198, 182, 191, 84, 241, 169, 60, 103, 243, 253, 277, 204, 121, 142, 157, 94, 86, 84, 97, 102, 109, 95, 86, 103, 220, 176, 281, 202, 198, 130, 278, 138, 362, 155, 248, 198, 188, 110, 162, 132, 121, 131, 134, 187, 237, 133, 165, 157, 208, 129, 247, 233, 192, 157, 197, 230, 275, 220, 279, 250, 246, 292, 198, 208, 260, 121, 124, 268, 86, 101, 92, 86, 100, 142, 179, 135, 480, 189, 127, 127, 72, 73, 73, 72, 350, 139, 238, 268, 174, 254, 171, 216, 184, 234, 220, 198, 201, 264, 207, 180, 179, 144, 243, 126, 202, 211, 306, 227, 232, 223, 269, 255, 248, 192, 220, 304, 494, 336, 534, 163, 249, 130, 108, 112, 237, 116, 123, 133, 89, 112, 124, 278, 107, 157, 135, 130, 128, 122, 110, 217, 203, 325, 234, 173, 274, 189, 196, 167, 240, 643, 63, 165, 346, 435, 116, 120, 155, 142, 174, 173, 186, 171, 206, 187, 164, 193, 207, 179, 175, 252, 232, 203, 307, 217, 166, 162, 261, 542, 130, 232, 208, 154, 155, 209, 179, 184, 234, 257, 150, 318, 154, 142, 158, 148, 176, 174, 158, 135, 208, 250, 171, 203, 204, 185, 243, 236, 241, 196, 175, 308, 613, 142, 181, 225, 177, 259, 113, 653, 196, 171, 337, 769, 267, 271, 526, 1920, 167, 178, 141, 263, 250, 155, 165, 148, 143, 155, 190, 119, 169, 229, 232, 238, 203, 160, 205, 207, 108, 192, 151, 206, 104, 118, 150, 162, 105, 163, 134, 266, 233, 244, 303, 297, 314, 457, 231, 298, 101, 146, 130, 138, 179, 141, 99, 98, 92, 151, 146, 162, 112, 189, 157, 236, 256, 154, 137, 621, 216, 222, 126, 240, 174, 224, 193, 258, 483, 862, 418, 464, 347, 114, 200, 67, 219, 83, 1722, 223, 91, 74, 138, 259, 104, 110, 67, 67, 102, 97, 478, 275, 222, 214, 212, 200, 136, 108, 89, 366, 216, 179, 163, 284, 134, 130, 185, 117, 343, 141, 171, 147, 107, 49, 97, 167, 105, 243, 128, 144, 148, 107, 140, 147, 146, 148, 109, 126, 98, 128, 144, 231, 105, 386, 96, 170, 174, 237, 119, 143, 142, 227, 185, 95, 160, 160, 99, 89, 167, 166, 124, 64, 114, 176, 207, 148, 265, 129, 165, 91, 151, 117, 136, 172, 128, 197, 146, 217, 484, 746, 145, 111, 653, 771, 95, 483, 395, 1381, 751, 566, 621, 141, 90, 168, 508, 168, 131, 123, 187, 195, 101, 102, 298, 141, 339, 168, 76, 113, 395, 382, 363, 381, 428, 169, 163, 141, 112, 145, 147, 145, 162, 134, 105, 102, 117, 120, 139, 306, 148, 247, 246, 236, 230, 100, 130, 125, 122, 161, 91, 176, 185, 241, 184, 197, 241, 175, 505, 152, 141, 255, 178, 184, 331, 214, 264, 228, 229, 162, 461, 524, 256, 226, 418, 293, 157, 554, 183, 278, 302, 411, 335, 771, 240, 392, 484, 356, 269, 1304, 189, 456, 492, 664, 273, 274, 284, 1029, 135, 245, 394, 120, 250, 650, 273, 184, 213, 556, 143, 183, 374, 317, 520, 467, 264, 576, 421, 235, 237, 484, 297, 524, 335, 514, 462, 668, 242, 255, 283, 296, 129, 256, 333, 145, 220, 437, 372, 158, 524, 568, 233, 190, 513, 346, 553, 696, 869, 231, 561, 235, 379, 347, 240, 318, 188, 277, 207, 202, 445, 101, 78, 72, 178, 134, 104, 224, 215, 253, 131, 110, 145, 194, 104, 153, 182, 150, 157, 173, 212, 123, 183, 227, 272, 191, 207, 266, 249, 360, 175, 145, 628, 195, 157, 559, 138, 174, 199, 211, 563, 158, 142, 286, 411, 449, 516, 415, 429, 167, 181, 147, 124, 105, 197, 308, 164, 157, 296, 173, 501, 216, 853, 150, 485, 114, 277, 125, 319, 126, 325, 678, 439, 172, 145, 122, 141, 209, 259, 353, 191, 590, 429, 259, 175, 761, 248, 150, 147, 279, 177, 572, 180, 606, 163, 633, 127, 596, 169, 183, 262, 213, 186, 305, 138, 419, 132, 170, 210, 542, 317, 105, 209, 148, 171, 180, 271, 147, 427, 639, 719, 169, 223, 154, 302, 510, 108, 137, 145, 144, 149, 149, 140, 147, 311, 599, 526, 228, 238, 204, 131, 275, 281, 380, 424, 188, 198, 348, 561, 406, 242, 202, 356, 187, 624, 112, 281, 130, 204, 145, 566, 182, 495, 548, 163, 158, 226, 167, 202, 326, 667, 133, 211, 210, 216, 232, 192, 195, 359, 86, 152, 254, 226, 215, 217, 795, 144, 197, 113, 136, 125, 150, 153, 159, 95, 156, 155, 225, 102, 79, 116, 98, 117, 104, 199, 125, 140, 233, 97, 260, 82, 228, 142, 115, 134, 113, 225, 100, 161, 162, 149, 112, 453, 101, 87, 133, 102, 105, 111, 138, 132, 154, 117, 154, 99, 109, 86, 127, 92, 126, 102, 155, 135, 157, 109, 78, 85, 127, 170, 59, 105, 89, 123, 182, 120, 130, 131, 127, 125, 139, 143, 130, 117, 95, 114, 129, 121, 125, 709, 110, 136, 168, 97, 110, 88, 212, 132, 112, 112, 109, 112, 128, 111, 128, 133, 179, 152, 108, 107, 118, 118, 163, 215, 131, 105, 123, 108, 115, 122, 136, 108, 163, 191, 131, 139, 140, 107, 117, 175, 176, 123, 96, 130, 102, 148, 167, 92, 131, 152, 120, 174, 231, 148, 175, 138, 105, 102, 102, 109, 155, 103, 123, 139, 177, 121, 130, 119, 137, 118, 88, 147, 144, 141, 108, 138, 140, 114, 98, 167, 73, 85, 89, 165, 96, 113, 116, 126, 142, 106, 157, 131, 92, 132, 141, 99, 166, 93, 101, 133, 202, 78, 128, 100, 78, 124, 71, 86, 113, 80, 90, 103, 98, 268, 166, 126, 130, 107, 75, 171, 193, 104, 116, 154, 98, 81, 126, 83, 130, 195, 123, 195, 90, 92, 178, 175, 111, 80, 115, 166, 98, 91, 98, 100, 86, 78, 127, 135, 134, 130, 118, 134, 176, 207, 258, 66, 73, 146, 77, 78, 84, 169, 94, 146, 90, 166, 86, 104, 106, 140, 90, 174, 121, 117, 122, 121, 98, 152, 144, 225, 123, 108, 93, 94, 149, 110, 74, 84, 121, 75, 181, 108, 102, 81, 143, 79, 74, 158, 100, 119, 132, 100, 175, 72, 74, 100, 137, 79, 119, 106, 109, 207, 119, 101, 98, 140, 162, 117, 82, 79, 105, 164, 196, 148, 128, 88, 113, 129, 156, 138, 136, 92, 97, 74, 82, 75, 91, 134, 94, 232, 259, 169, 1286, 219, 164, 175, 141, 217, 220, 287, 100, 276, 130, 132, 124, 138, 129, 206, 105, 108, 130, 147, 152, 112, 247, 128, 268, 129, 143, 535, 412, 497, 454, 398, 289, 224, 201, 204, 276, 196, 288, 272, 207, 276, 123, 147, 228, 211, 219, 273, 92, 124, 142, 96, 119, 98, 228, 97, 145, 54, 239, 214, 321, 317, 134, 205, 206, 100, 188, 97, 264, 149, 362, 179, 144, 102, 173, 157, 171, 124, 113, 171, 287, 227, 266, 259, 265, 92, 201, 226, 99, 310, 129, 130, 85, 145, 334, 105, 117, 278, 189, 195, 185, 257, 307, 237, 188, 302, 124, 111, 167, 145, 156, 176, 129, 102, 182, 78, 180, 209, 191, 204, 196, 192, 162, 253, 92, 169, 304, 179, 174, 134, 219, 213, 152, 147, 167, 232, 107, 244, 260, 222, 224, 97, 83, 191, 188, 145, 255, 242, 254, 247, 257, 123, 190, 280, 179, 78, 91, 116, 97, 132, 73, 78, 197, 121, 141, 114, 98, 107, 138, 138, 166, 111, 90, 95, 121, 125, 136, 170, 156, 114, 153, 113, 107, 110, 138, 97, 133, 85, 274, 131, 183, 101, 83, 132, 150, 92, 104, 109, 119, 113, 158, 83, 123, 223, 81, 111, 66, 190, 146, 173, 91, 85, 182, 131, 132, 166, 131, 92, 121, 178, 74, 74, 121, 123, 119, 106, 88, 94, 131, 103, 109, 123, 124, 94, 85, 232, 152, 171, 204, 187, 122, 93, 98, 55, 162, 168, 185, 180, 214, 151, 195, 191, 227, 203, 137, 227, 274, 233, 170, 200, 165, 166, 194, 180, 127, 220, 104, 145, 117, 95, 118, 982, 1170, 1441, 325, 236, 440, 103, 154, 169, 203, 190, 272, 158, 160, 272, 363, 137, 187, 367, 475, 163, 164, 170, 196, 204, 101, 979, 502, 511, 493, 169, 175, 179, 101, 271, 226, 97, 179, 198, 301, 253, 218, 179, 642, 1178, 1149, 727, 379, 723, 457, 1047, 1333, 1060, 1091, 457, 696, 805, 1076, 775, 1315, 356, 808, 712, 664, 1516, 1238, 599, 722, 687, 1024, 514, 1335, 1414, 776, 1268, 887, 770, 598, 714, 845, 923, 683, 880, 914, 1072, 697, 856, 689, 401, 317, 1431, 450, 800, 155, 182, 188, 157, 93, 137, 87, 142, 179, 203, 156, 170, 162, 239, 117, 116, 109, 262, 126, 155, 252, 116, 292, 101, 108, 124, 121, 197, 215, 174, 222, 97, 316, 95, 154, 102, 141, 129, 132, 305, 219, 194, 156, 105, 217, 83, 246, 218, 124, 114, 141, 154, 111, 162, 164, 114, 116, 164, 105, 521, 116, 125, 173, 179, 89, 102, 242, 136, 311, 140, 138, 226, 169, 175, 142, 103, 79, 110, 213, 198, 209, 217, 107, 160, 203, 196, 151, 220, 81, 289, 120, 116, 112, 121, 111, 118, 118, 127, 117, 121, 120, 158, 122, 122, 196, 116, 116, 119, 125, 87, 125, 116, 116, 112, 169, 97, 138, 126, 95, 151, 83, 209, 217, 96, 95, 91, 96, 103, 105, 100, 100, 145, 71, 79, 92, 108, 110, 112, 253, 239, 121, 124, 126, 241, 116, 116, 147, 200, 203, 93, 106, 101, 105, 124, 91, 95, 233, 220, 140, 117, 118, 98, 86, 140, 166, 146, 120, 86, 124, 118, 85, 117, 119, 94, 80, 88, 112, 87, 154, 144, 149, 102, 104, 119, 122, 214, 227, 278, 122, 129, 123, 94, 110, 111, 113, 222, 157, 96, 181, 219, 120, 111, 246, 164, 88, 80, 82, 144, 169, 94, 190, 242, 81, 91, 131, 87, 258, 246, 254, 112, 152, 79, 181, 141, 117, 146, 107, 107, 203, 125, 273, 183, 1199, 103, 172, 156, 124, 171, 231, 189, 1149, 792, 938, 1764, 1169, 735, 217, 168, 255, 131, 114, 302, 234, 232, 254, 185, 271, 275, 244, 250, 269, 277, 238, 190, 240, 191, 186, 189, 288, 195, 247, 269, 282, 254, 250, 160, 152, 158, 191, 236, 245, 196, 252, 265, 169, 262, 240, 258, 209, 191, 187, 125, 159, 165, 174, 162, 168, 169, 158, 159, 247, 145, 200, 177, 92, 130, 122, 129, 229, 112, 123, 162, 107, 148, 184, 169, 102, 97, 208, 90, 78, 92, 116, 519, 422, 1110, 139, 108, 112, 160, 84, 237, 174, 154, 285, 342, 161, 212, 216, 404, 971, 398, 159, 113, 124, 279, 596, 117, 220, 202, 160, 162, 211, 235, 70, 313, 283, 227, 314, 222, 88, 87, 62, 129, 228, 59, 63, 61, 99, 1260, 573, 525, 1160, 756, 883, 1216, 985, 1187, 630, 836, 1262, 1010, 840, 956, 515, 1230, 1326, 916, 1016, 1150, 705, 1148, 1165, 1123, 1022, 848, 1172, 848, 975, 650, 621, 684, 1048, 1006, 566, 720, 581, 417, 647, 347, 873, 943, 966, 1080, 764, 863, 653, 702, 883, 543, 1154, 631, 781, 609, 585, 945, 579, 613, 653, 1107, 576, 551, 730, 760, 1006, 639, 473, 1179, 1160, 690, 617, 620, 809, 554, 651, 1218, 688, 536, 621, 454, 189, 904, 474, 358, 775, 782, 860, 744, 583, 560, 573, 400, 565, 628, 547, 1007, 1312, 579, 1004, 806, 338, 425, 546, 650, 361, 564, 643, 465, 1102, 654, 822, 612, 475, 952, 616, 886, 558, 544, 965, 639, 994, 738, 884, 1196, 1067, 627, 828, 931, 670, 1016, 735, 656, 996, 558, 941, 535, 1122, 1014, 508, 711, 1059, 996, 1174, 1149, 1266, 1119, 776, 766, 473, 969, 589, 631, 954, 135, 195, 160, 138, 173, 192, 111, 142]
[97, 101, 132, 218, 358, 149, 267, 135, 110, 124, 112, 130, 116, 78, 92, 89, 124, 117, 78, 308, 159, 169, 150, 183, 162, 137, 156, 244, 97, 105, 161, 107, 121, 143, 307, 654, 301, 148, 128, 154, 156, 107, 184, 128, 117, 157, 242, 114, 167, 136, 118, 120, 129, 146, 227, 192, 221, 113, 213, 255, 168, 118, 127, 173, 133, 150, 247, 119, 239, 93, 100, 132, 121, 191, 177, 143, 163, 145, 130, 127, 116, 120, 115, 101, 120, 105, 110, 109, 123, 130, 124, 99, 108, 139, 165, 166, 199, 199, 244, 121, 166, 145, 106, 214, 132, 256, 252, 200, 105, 156, 124, 204, 224, 94, 127, 193, 201, 151, 145, 129, 96, 382, 98, 109, 310, 206, 183, 98, 135, 101, 187, 129, 161, 217, 224, 146, 184, 150, 163, 202, 299, 123, 109, 314, 119, 331, 1166, 229, 229, 316, 277, 294, 54, 86, 250, 235]

In [ ]:
statistic, p_value = stats.mannwhitneyu(x=clinical, y=enviromental, alternative='greater')
print("statistic: {s} , p-value: {p}".format(s=statistic, p=p_value))

statistic: 236294.0 , p-value: 4.4595980579641915e-05

In [ ]:
input_list = isolate_groups['# of pseudogenes'].to_list()

In [ ]:
statistic, p_value = stats.mannwhitneyu(*input_list)
print("statistic: {s} , p-value: {p}".format(s=statistic, p=p_value))

statistic: 161974.0 , p-value: 4.4595980579641915e-05

In [ ]:
statistic, p_value = stats.f_oneway(*input_list)
print("statistic: {s} , p-value: {p}".format(s=statistic, p=p_value))

statistic: 7.061980591854984 , p-value: 9.843342858660274e-05

In [ ]:
results = sp.posthoc_dunn(data, val_col='# of pseudogenes', group_col='Level', p_adjust='bonferroni')
results

              Chromosome  Complete    Contig  Scaffold
 Chromosome     1.000000  0.865793  0.004978  0.000920
Complete        0.865793  1.000000  0.000595  0.000013
Contig          0.004978  0.000595  1.000000  0.124318
Scaffold        0.000920  0.000013  0.124318  1.000000

In [ ]:
results = results.reset_index()
results

         index   Chromosome  Complete    Contig  Scaffold
0   Chromosome     1.000000  0.865793  0.004978  0.000920
1     Complete     0.865793  1.000000  0.000595  0.000013
2       Contig     0.004978  0.000595  1.000000  0.124318
3     Scaffold     0.000920  0.000013  0.124318  1.000000

In [ ]:
results.to_csv("level_results.csv", index=False)

In [ ]:
results[results < 0.05]

              Chromosome  Complete    Contig  Scaffold
 Chromosome          NaN       NaN  0.004978  0.000920
Complete             NaN       NaN  0.000595  0.000013
Contig          0.004978  0.000595       NaN       NaN
Scaffold        0.000920  0.000013       NaN       NaN